/* Base styles for stars */
.star-layer[id^="stars"] {
  width: 1px;
  height: 1px;
  background: transparent;
  animation: animStar 50s linear infinite;
  animation-play-state: running;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 0;
}

.star-layer[id^="stars"]:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 1px;
  height: 1px;
  background: transparent;
}

.star-layer[id^="stars2"] {
  width: 2px;
  height: 2px;
  background: transparent;
  animation: animStar 100s linear infinite;
  animation-play-state: running;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 0;
}

.star-layer[id^="stars2"]:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 2px;
  height: 2px;
  background: transparent;
}

.star-layer[id^="stars3"] {
  width: 3px;
  height: 3px;
  background: transparent;
  animation: animStar 150s linear infinite;
  animation-play-state: running;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 0;
}

.star-layer[id^="stars3"]:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 3px;
  height: 3px;
  background: transparent;
}

@keyframes animStar {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-2000px);
  }
}